.todo-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.heading {
    color: lightpink;
    font-size: 70px;
    display: flex;
    justify-content: center;
    width: 500px;
}

.todo-heading {
    color: #4d4d4d;
    font-size: 24px;
}

.todo-list-container {
    display: flex;
    width: 500px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: white;
}

.todo-item {
    color: #4d4d4d;
    font-size: 24px;
    flex-grow: 1;
}

.default-row {
    display: flex;
    width: 500px;
    flex-direction: column;
    border: 2px solid black;
    margin-bottom: 5px;
}

.appended-rows {
    overflow-y: auto;
    background-color: white;
    max-height: 50vh;
}

.appended-child {
    border: 2px #e1e1e1;
    color: #4d4d4d;
    width: 500px;
    display: flex;
    justify-content: center;
}

.child-checkbox {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    color: #f5f5f5;
    margin: 10px;
}

.child-del-btn {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: red;
}

.child-text {
    display: flex;
    flex-grow: 1;
    color: #4d4d4d;
    font-size: 20px;
    border: none;
}

.child-text:hover {
    color: #ed1212;
    cursor: pointer;
}

.add-btn {
    height: 20px;
    width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

.footer {
    color: #777777;
    font-size: 12px;
    display: flex;
    align-self: center;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    border: 2px solid black;
}

.footer-btn {
    height: 30px;
    border: 2px #777777;
    font-size: 14px;
    color: #777777;
}

.footer-btn:hover {
    border: 2px solid rgba(175, 47, 47, 0.2);
}

.todoApp {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.disable {
    text-decoration: line-through;
    disabled: true;
    color: #e0ebeb;

}

.enable {
    text-decoration: "";
    disabled: false;
    color: black;
}

.network-msg-display-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.network-msg {
    font-size: 20px;
}

.network-msg-btn {
    font-size: 15px;
}
