.nav-bar {
    height: 60px;
    background-color: black;
    color: white;
    align-items: center;
    display: flex;
}

.back-btn {
    width: 90px;
    height: 30px;
    margin: 20px;
    color: white;
}
