.country-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 230px;
    margin: 15px;
    border-radius: 10px;
}

.country-container {
    display: flex;
    justify-content: space-between;
}

.mode-btn {
    width: 80px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 6px -6px black;
}

.search-bar-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.search-field {
    width: 200px;
    height: 30px;
    font-size: 18px;
}

.country-dropdown {
    width: 150px;
    height: 30px;
}

.country-div {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    margin-top: 40px;
    margin-left: 10px;
    padding: 0px;
}

.back-btn {
    width: 80px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 6px -6px black;
    margin-top: 20px;
    margin-bottom: 10px;
}

.country-name {
    margin-top: 15px;
    margin-left: 4px;
}

.country-population {
    margin-top: 2px;
    margin-left: 4px;
}

.country-region {
    margin-top: 2px;
    margin-left: 4px;
}

.country-capital {
    margin-top: 2px;
    margin-left: 4px;
}

.zoom:hover {
    transform: scale(1.5);
}
